////card
.card {
  display: flex;
  width: 100%;
  min-height: 145px;
  margin-bottom: 20px;
  padding-right: ptw(1440, 25); //25px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-color: white;

  p {
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.02em;
    color: $grayBlue;
  }
}
///comment card
.commentCard {
  .votingSec {
    display: flex;
    justify-content: center;
    width: ptw(1440, 90); //90px;
    min-width: 70px;
    max-width: 95px;
    flex-shrink: 0;
    .mobileActionButtons {
      display: none;
    }
    .buttonsBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      height: 100px;
      width: 40px;
      margin-top: 25px;
      border-radius: 10px;
      background-color: $veryLGray;
      button {
        transition: $trans;
        svg {
          margin-left: 1px;
          fill: $lGrayBlue;
          transition: $trans;
        }
        &:hover {
          svg {
            fill: $mBlue;
          }
        }
      }
      p {
        text-align: center;
        font-weight: 500;
        color: $mBlue;
      }
    }
  }
  .mainSec {
    width: 100%;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      padding-top: 7px;
      p {
        padding-bottom: 3px;
      }
      &__left {
        display: flex;
        align-items: end;
        .avatar {
          width: 32px;
          height: 32px;
          margin-right: ptw(1440, 17);
        }

        .name {
          margin-right: 15px;
          font-weight: 500;
          color: $dBlue;
        }
        .you {
          flex-shrink: 0;
          height: 19px;
          width: 35px;
          border-radius: 2px;
          align-self: center;
          background-color: $mBlue;
          margin-right: ptw(1440, 14);
          margin-left: -4px;
          p {
            margin-top: -3px;
            color: white;
            font-size: 14px;
            text-align: center;
          }
        }
        .howLongAgo {
          font-weight: 400;
          margin-right: 15px;
          // max-width: 100px;
        }
      }
      &__right {
        display: flex;
        justify-content: end;
        flex-basis: 145px;
        flex-shrink: 3;
        button {
          font-size: 17px;
          font-weight: 500;
          letter-spacing: -0.03em;
          svg {
            margin-bottom: -2px;
            margin-right: 4px;
          }
        }
        .addReplyBtn {
          padding-bottom: 4px;
          color: $mBlue;
          transition: $trans;
          svg {
            fill: #5357b6;
            transition: $trans;
          }
          &:hover {
            color: hsl(238, 40%, 82%);
            svg {
              fill: hsl(238, 40%, 82%);
            }
          }
        }
        .deleteBtn {
          margin-right: ptw(1440, 20); //20px;
          color: $sRed;
          transition: $trans;
          svg {
            fill: $sRed;
            transition: $trans;
          }
          &:hover {
            color: $pRed;
            svg {
              fill: $pRed;
            }
          }
        }
        .editBtn {
          color: $mBlue;
          transition: $trans;

          svg {
            fill: $mBlue;
            transition: $trans;
          }
          &:hover {
            color: hsl(238, 40%, 82%);
            svg {
              fill: hsl(238, 40%, 82%);
            }
          }
        }
        .replyToReplyBtn {
          color: $mBlue;
        }
      }
    }
    &__body {
      p {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.01em;
      }
      .sendCommentBtn {
        display: block;
        padding: 0;
        flex-shrink: 0;
        height: 48px;
        width: 104px;
        margin-left: 15px;
        margin-top: 20px;
        border-radius: 8px;
        border: none;
        outline: inherit;
        cursor: pointer;
        font-family: inherit;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        background-color: $mBlue;
        color: white;
        transition: $trans;
        &:hover {
          background-color: $lGrayBlue;
        }
      }
    }
    .updateComment {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }
}

///nested comment card
.nestedComment {
  width: 93%; //640px;

  span {
    color: $mBlue;
    font-weight: 600;
  }
  .textarea {
    ///div with class textarea
    width: 100%;
    min-height: 95px;
    padding: 10px 15px;
    resize: none;
    border: 1px solid $dBlue;
    border-radius: 6px;

    span {
      display: inline;
      color: $dBlue;
      font-weight: 400;
    }
    p[contenteditable="true"] {
      outline: 0px solid transparent;
    }
  }
}
.nestedComment:last-child {
  margin-bottom: 0;
}
.inputField {
  width: 100%;
  textarea {
    width: 100%;
    min-height: 95px;
    padding: 12px 22px;
    resize: none;
    border: 1px solid $lGray;
    border-radius: 6px;
    color: $dBlue;
    &:focus {
      border: 1px solid $dBlue;
    }
  }
}
