@import "variables";
@import "globals";
@import "attribution";
@import "card";
@import "sendingCard";
@import "modal";
///llls

.background {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 65px;
  padding-bottom: 50px;
  background-color: $veryLGray;
  .cardsAndAddComment {
    .cardsColumn {
      display: flex;
      flex-direction: column;
      align-items: end;
      max-width: 730px;
      padding: 0 30px;
    }
  }
}
.repliesColumn {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 93.5%;
  border-left: solid 2px $lGray;
  margin-bottom: 20px;
  margin-left: 45px;
}

button {
  display: inline-block;
  height: 100%;
  padding: 0;
  border: none;
  outline: inherit;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  background: none;
}
.body-modal-open {
  height: 100vh;
  overflow: hidden;
}
@import "mediaQs";
